.carousel-inner img {
  width: 70%;
  margin: auto;
}

.carousel-control {
    background-color: #000;
    opacity: 1;
}
body {
    background-color:#000000;
}
#navegadorpersonalizado{
    background-color: #F58D01;
    padding: 2em;
    justify-content: center;
}
.nav{
    padding-top: 1.5em;

}
.-col-md-7order-md-2 {
    padding-left: 6em;
}


/*PLAY LIST*/
.playlistSecundarias{
    padding-left: 6em;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

}

/*FUENTES*/
.barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
h2, p , a{
  
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: aliceblue;
      }
  h2{
    color: #F58D01;
    ;
  }
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", serif;
    font-weight: 700;
    font-style: normal;
  }
.Barlow a  {
    
        font-family: "Barlow Condensed", serif;
        font-weight: 700;
        font-style: normal;
        font-size:x-large;
      }
  
.relacionados{
    justify-content: center;
}
.relacionados h3{
    color:#009FF5;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:x-large;
 


}
.audiocssestilo{
display: flex;
}

.audiocssestilo h2 {
  width: 135px;
}

.myAudio, .myAudioDos, .myAudioTres, .myAudioPrincipal{
  width: 60%;
  padding-left: 3em;

}
#album-coverTres{
  margin-left: 28px;
}

.navbar {
  background-color: #F58D01 !important;
}

.navbar-toggler {
  --bs-navbar-toggler-border-color: rgb(0, 159, 245);
  background-color: #009FF5 !important;
}

.nav-link {
  color: #000000;
}

.mobile-playlist h2 {
  margin: 0 0 20px 0;
}

.mobile-playlist audio {
  padding:0;height:35px;
}

/*PAGINA BIOGRAFIA*/
.estilosbiografia p{
  font-size: larger;
}
/*
.left.carousel-control {

}

.left.glypicon {

}*/

.blog-post p {

  /*font-weight:bold;*/
  line-height: 1.5;
  
  font-size: 25px;

}
.estilosbiografia article h2{
color: #F58D01 !important;

}

/*columnas derecha*/
.col-lg-8{
color: white;
font-size: medium;




}
.col-lg-8 h6{
  font-size: x-large;
}
.igualar{
  font-size: x-large;
  padding-top: 17px;
}

/*Footer*/
.footeredit{
padding: 2em;
color:white;
font-size: large;

}
.ms-3{
 background-color: #009FF5;
}



/*PAGINA DISCOGRAFIA */
.card-text{
  color:#000;
  font-size: larger;
  font-weight: bold;
}
/*CARD TAMAÑOS BIEN*/ 
p.card-text, .card-body{
  background-color: #357BA1    ;
}
.fondodiscografia{
  background-color:#000 !important;
}
/*ANIMACIONES IMAGENES DISCOGRAFIA Y WALPAPERS*/

.col-md-4:hover  {-webkit-transform:scale(0.8);transform:scale(0.8);}
.col-md-4{overflow:hidden;}

/*PAGINA WALLPAPERS*/
.fondodiscografiaWall{
    background-color: #32414A !important;
}





@media (max-width: 767px) {
  .recent-post {
        height: 100% !important;
   }
}
